* {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
.navegador {
	display: flex;
	color: white;
	font-weight: bold;
	font-size: 15px;
}
.blanco {
	width: 150px;
}
.verde {
	width: 200px;
	margin-right: 2px;
}
.verde .arriba {
	background-color: #1c9cd9;
	padding: 9px;
	margin: 0px 2px 2px 0px;
}
.verde .abajo {
	display: flex;
}
.verde .abajo .izq,
.verde .abajo .der {
	width: 125px;
	text-align: center;
	padding: 5px;
	margin-right: 2px;
	background-color: #1c9cd9;
}
.azul {
	width: 250px;
	margin-right: 2px;
}
.azul .arriba {
	background-color: #005cb9;
	padding: 5px;
	margin: 0px 2px 2px 0px;
}
.azul .abajo {
	background-color: #005cb9;
	padding: 5px;
	margin: 0px 2px 2px 0px;
}

.magenta {
	width: 450px;
}

.magenta .arriba {
	background-color: #ab1542;
	padding: 9px;
	margin: 0px 2px 2px 0px;
}
.magenta .abajo {
	display: flex;
}
.magenta .abajo .izq,
.magenta .abajo .der {
	width: 225px;
	text-align: center;
	padding: 1px;
	margin-right: 2px;
	background-color: #ab1542;
}
header {
	display: flex;
	justify-content: space-between;
}

/* header */
#logo img {
	height: 30px;
}

.link {
	display: inline-flex;
	padding-top: 30px;
}

.link a {
	text-decoration: none;
	font-size: 10px;
	color: #0062ae;
}


.nave {
	width: 350px;
	margin-left: 400px;
	
	
	
}
.centro {
	padding: 2px;
	display: flex;
	
}


.centro .izq,
.centro .cent,
.centro  .der {
	width: 125px;
	text-align: center;
	padding: 15px;
	margin-right: 3px;
	padding-top: 15px;
	color: white;
	background-color: #A7A7A7;
}

.iconos {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: rgb(240, 240, 240);
	padding: 10px;
}
.imagen .icono,
.imagen .texto {
	padding: 10px;
}
a {
	color: #0062ae;
}


