* {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

body {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer; /* aqui sale el dedito  */
}
.navegador {
	display: flex;
	color: white;
	font-weight: bold;
	font-size: 15px;
	/* cursor: pointer; */
}
.blanco {
	width: 150px;
}
.verde {
	width: 220px;
	margin-right: 2px;
}
.verde .arriba {
	background-color: #1c9cd9;
	padding: 9px;
	margin: 0px 2px 2px 0px;
}
.verde .abajo {
	display: flex;
}
.verde .abajo .izq,
.verde .abajo .der {
	width: 125px;
	text-align: center;
	padding: 5px;
	margin-right: 2px;
	background-color: #1c9cd9;
}
.azul {
	width: 1000px;
	margin-right: 2px;
	padding-top: 1px;
}
.azul .arriba {
	background-color: #005cb9;
	padding: 5px;
	margin: 0px 2px 2px 0px;
}
.azul .abajo {
	background-color: #005cb9;
	padding: 5px;
	margin: 0px 2px 2px 0px;
}

.magenta {
	width: 450px;
}

.magenta .arriba {
	background-color: #ab1542;
	padding: 9px;
	margin: 0px 2px 2px 0px;
}
.magenta .abajo {
	display: flex;
}
.magenta .abajo .izq,
.magenta .abajo .der {
	width: 225px;
	text-align: center;
	padding: 1px;
	margin-right: 2px;
	background-color: #ab1542;
	padding-bottom: 3px;
}
header {
	display: flex;
	justify-content: space-between;
}

/* header */
.logo img {
	height: 85px;
	padding-left: 10px;
	padding-top: 10px;
}

.link {
	display: inline-flex;
	padding-top: 30px;
	padding-right: 10px;
}
.one {
	padding-right: 10px;
}

.link a {
	text-decoration: none;
	font-size: 13px;
	color: #0062ae;
}

.link .one a:hover {
	color: blue;
}

.nave {
	width: 450px;
	margin-left: 300px;
}
.centro {
	padding: 1px;
	display: flex;
}

.centro .izq,
.centro .cent,
.centro .der {
	width: 150px;
	text-align: center;
	padding: 15px;
	margin-right: 3px;
	padding-top: 9px;
	padding-bottom: 3px;
	color: white;
	background-color: #a7a7a7;
}

.centro .izq:hover,
.centro .cent:hover,
.centro .der:hover {
	background-color: #005cb9;
}

.per {
	padding-bottom: 10px;
}

.per .list__arrow {
	position: relative;
	top: 5px;
}
.list__arrow:hover {
	background: #ffb612;
}

.divOpcionSeparador {
	height: 4px;
	width: 120px;
	background-color: #ffb612;
	padding-top: 1px;
}

#Separador {
	height: 15px;
	width: auto;
	margin-bottom: 25px;
}
.azul {
	background-color: #0063ae;
}

.azul2 {
	text-transform: uppercase;
	font-size: 11px;
	font-style: italic;
	font-weight: 800;
	display: inline-block; /* con esto se forma un bloque azul */
	vertical-align: text-top;
	margin-right: 900px;
	background-color: #0063ae;
	color: #fff;
	border: solid 1px;
	position: absolute;
	top: 228px;
	right: 505px;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	outline: none;
}

h4 {
	display: flex;
	font-size: 17px;
	padding-top: 55px;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	color: #004586;
	font-family: Arial, Helvetica, sans-serif;
}

.divTituloSeccion {
	border-bottom: 1px solid #ffb612;
	margin-bottom: 20px;
	border-left: 20px solid #fff;
	border-right: 20px solid #fff;
	padding: 0px;
}

.iconos {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: rgb(240, 240, 240);
	padding: 10px;
}

.iconos :hover {
	color: blue;
	text-decoration: none;
}

.imagen .icono,
.imagen .texto {
	padding: 10px;
}
a {
	color: #0062ae;
	font-size: 13px;
}
